{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs
{% endblock %}

{% block body %}
	<h1>Liste des utilisateurs</h1>
	<a href="{{ path('app_user_new') }}">
		<button class="btn btn-sm btn-success mb-3" title="Créer un utilisateur">
			<i class="fas fa-user-plus"></i>
		</button>
	</a>

	<table class="table users_table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Email</th>
				<th>Prénom</th>
				<th>Nom de famille</th>
				<th>Créé le</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for user in users %}
				<tr>
					<td>{{ user.id }}</td>
					<td>{{ user.email }}</td>
					<td>{{ user.firstname }}</td>
					<td>{{ user.lastname }}</td>
					<td>{{ user.createdAt ? user.createdAt|date('d/m/Y') : '' }}</td>
					<td>

						<a class="text-decoration-none" href="{{ path('app_user_show', {'id': user.id}) }}">
							<button class="btn btn-sm btn-info" title="Détails">
								<i class="far fa-eye text-dark"></i>
							</button>
						</a>
						<a class="text-decoration-none" href="{{ path('app_user_edit', {'id': user.id}) }}">
							<button class="btn btn-sm btn-primary" title="Editer les détails">
								<i class="fas fa-pencil-alt text-white"></i>
							</button>
						</a>


					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="10">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
